/* 
1px = 0.0625rem

1rem = 16px
0.75rem = 12px
0.5rem = 8px
0.25rem = 4px
0.125rem = 2px
*/
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.5rem;
}
h6{
    font-size: 1.5rem;
}
p{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.navbar .navbar-nav .nav-link{
    padding: .5rem 1rem;
}
.nri-btn{
    background-image: linear-gradient(to right, #ff9200 , #fec055);
    -webkit-background-image: linear-gradient(to right, #ff9200 , #fec055);
    -moz-background-image: linear-gradient(to right, #ff9200 , #fec055);
    -ms-background-image: linear-gradient(to right, #ff9200 , #fec055);
    padding: 4px 16px;
    color: white;
    text-shadow: 0.5px 0.5px 0px #000;
}
.header-section, .theme-bg-grad{
    background-image: linear-gradient(to right, #ff9200 , #fec055);
    -webkit-background-image: linear-gradient(to right, #ff9200 , #fec055);
    -moz-background-image: linear-gradient(to right, #ff9200 , #fec055);
    -ms-background-image: linear-gradient(to right, #ff9200 , #fec055);
}
.font-red, .color-red{
    color: red;
}
.font-green, .color-green{
    color: green;
}
.font-yellow, .color-yellow{
    color: yellow;
}
.nri-logo{
    max-width: 120px;
}
.banner-section{
    position: relative;
}
.banner-content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.banner-form-container select.form-control,
.banner-form-container button{
    min-width: 150px;
    border-radius: 0px;
    height: 50px;
}
.banner-form-container select.form-control{
    background: white;
}
.bg-light-grey, .bg-light-gray{
    background: #f2f2f2;
}

section.statistics-section{
    background: url('../images/statistics_banner.jpg') no-repeat left top / 100% 100%;
}
.profile-item-container{
    position: relative;
    overflow: hidden;
}
.profile-item-container .name-block{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}




/*Info: // Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .banner-form-container form > div:first-child .form-group{
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        overflow: hidden;
    }
    .banner-form-container form > div:last-child button{
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        overflow: hidden;
    }
    #long-slider{
        transform: scale(1.5);
    }
    #long-slider .slide.left-slide{
        display: none !important;
    }
    section.together-long-relationship-section{
        background: url('../images/chakra_right_bottom_quarter.png') no-repeat left top / auto,
                    url('../images/chakra_left_top_quarter.png') no-repeat right bottom / auto,
                    url('../images/hang_flower-double.png') no-repeat 47% top / auto 40%,
                    url('../images/hang_flower-single.png') no-repeat 87% top / auto 40%;
    }
    section.getconnected-section{
        background: url('../images/chakra_right_top_quarter.png') no-repeat left bottom / auto,
                    url('../images/hang_flower-double.png') no-repeat 90% top / auto 257px;
    }
    section.profiles-section{
        background: url('../images/chakra_right_bottom_quarter_white.png') no-repeat left top / auto, 
                    url('../images/hang_flower-tripple.png') no-repeat 90% top / auto 257px,
                    url('../images/chakra_left_top_quarter_white.png') no-repeat right bottom / auto, #f2f2f2;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
}

/*Info: // Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {}

/* // Small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {}

/* // Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {}

/* // Large devices (desktops, less than 1200px) */

@media (max-width: 1199.98px) {}

/* // Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width */

/*Info: // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {}

/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {}

/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {}

/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}